.rootApp{
    background: green;
}

.pizzas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
}

.pizzas img {
    width: 100%;
}

.pizzaItems {
    position: relative;
    padding: 20px;
    border: 2px solid darkcyan;
    border-radius: 5px;
    margin: 5px;
    background-color: yellow;;
}

.pizzaItem {
    text-align: right;
    padding: 2px 0;
}

.navbar_wrapper {
    background-color: darkslateblue;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 110px;
    height: 100%;
}

.tagline {
    color: aliceblue;
    align-self: center;

}

.menu {
    align-self: center;
    padding: 10px;
}

.menuItem {
    padding: 10px;
}

.cart_container {
    text-align: center;
}

.cart_header {
    margin: 40px 40px 5px 40px;
}

.cart_item {

    display: inline-flex;
    width: 50%;
    align-items: center;
    margin: 10px 50px;
    padding: 20px 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    justify-content: center;
    background-color: yellow;
}

.cart_item img {
    width: 20%;
    height: 20%;

}

.cart_item_name {
    padding-left: 5%;
    font-family: Arial, "Helveticantr Neue", Helvetica, sans-serif;
    font-weight: bold;
}

.cart_item_buttons {
    padding-left: 5%;
}

.cart_item_cost {
    padding-left: 5%;
}

.cart_header {
    font-family: Arial, "Helveticantr Neue", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}

.cart_price {

    padding: 10px;
    font-family: Arial, "Helveticantr Neue", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px;
}

.cart_price_sub{
    margin: 10px 0 10px 35%;

}

.checkout_body {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin: 5%;
}

.checkout_form {
    width: 300px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px darkslateblue;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.form_button {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: darkslateblue;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    margin: 0 2px;

    }

.form_button:focus {
    background-color: rgba(72, 61, 139, 0.7);
}

.form_button:hover {
    background-color: rgba(72, 61, 139, 0.7);
}

.form_title {
    text-align: center;
    margin: 0 0 30px 0;
    font-weight: bold;
}

.form_item {
    position: relative;
    margin-bottom: 30px;
}

.form_input {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.5s;
}

.form_label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: grey;
    transition: 0.5s;

}

.form_input:focus {
    border-bottom: 1px solid #1a73a8;
}

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label {
    top: -18px;
    font-size: 11px;

}

.checkout_form_err {
    position: absolute;
    top: -18px;
    right: 0;
    z-index: -1;
    color: red;
    transition: 0.5s;
    font-size: 11px;

}

.button_cart,
.button_login,
.button_currency {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    color: darkred;
    background-color: white;
    outline: none;
    cursor: pointer;
    transition: 0.5s;

}

.button_cart:focus,
.button_cart:hover,
.button_login:focus,
.button_login:hover,
.button_currency:hover {
    background-color: rgb(255, 230, 0);
}

.cart_butt {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    color: #ffff00;
    background-color: black;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    margin: 0 50px;
}
.cart_butt:focus,
.cart_butt:hover {
    background-color: rgba(0, 128, 0, 0.7);
}
.cart_butt_pl{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 3px 10px;
    border: solid 2px black;
    border-radius: 5px;
    color: black;
    background-color: yellow;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.button_ToCart{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: #ffff00;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    bottom: 10px;
}

.button_ToCart:focus{
    background-color: black;
    color: yellow;
}